<main>
  <div class="flex flex-col gap-5 m-5">
    @if (vehicles(); as options) {
      <app-filters
        [selectedVehicle]="selectedVehicle()"
        [vehicleOptions]="options"
        (selectedVehicleChange)="handleSelectedVehicle($event)"
        (dateRangeChange)="handleDateRangeChange($event)"
      />
    }
    <mat-card class="p-5" appearance="outlined">
      @if (fuelData(); as data) {
        <app-fuel-consumption [data]="data" />
      } @else {
        <app-notification message="Select vehicle" [minHeight]="500" />
      }
    </mat-card>
    <mat-card appearance="outlined">
      <div class="flex gap-6 p-2 w-full">
        <div class="w-1/2">
          @if (telemetry(); as telemetry) {
            <app-telemetry-list
              [data]="telemetry"
              [selected]="locationId()"
              (selectionChange)="handleSelectedLocation($event)"
            />
          } @else {
            <app-notification message="Select vehicle" />
          }
        </div>
        <div class="w-1/2">
          <app-locations-map [selected]="selectedLocation()" />
        </div>
      </div>
    </mat-card>
  </div>
</main>
